{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>

                        <p>A planilha da importação número <strong>{{registrationNumber}}</strong>  foi concluída com sucesso.</p>

                        <p>Total de organizações da planilha {{totalRows}}</p>

                        <p>Em caso de dúvidas, entre em contato com <a href=mailto:“suporte.culturaviva@cultura.gov.br”>suporte.culturaviva@cultura.gov.br</a>.</p>

                        <br>

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{{{_footer}}}