{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>

                        <p>Sua organização {{organizationName}}, {{organizationCNPJ}} foi certificada como {{type}} por um Edital de Seleção da Cultura Viva.</p>

                        <p>No seu primeiro acesso você precisará criar uma senha para este email que foi cadastrado. Para tanto clique em “Entrar”, insira o email e em seguida clique em “Esqueci minha senha”. Siga as instruções que chegarão em seu email.</p>

                        <p>Depois de entrar no sistema lembre-se que para manter o certificado pelo Ministério da Cultura é necessário completar a sua inscrição no Cadastro Nacional de Pontos e Pontões de Cultura, com as informações da organização que foi certificada no Edital.</p>

                        <p>Mantenha atualizado também o seu perfil como agente individual, responsável por essa organização. No seu primeiro acesso, será necessário fazer a recuperação de senha.</p>

                        <p>Para completar a inscrição, <a href="{{redirectUrl}}">clique aqui</a>!</p>

                        <p>Em caso de dúvidas, entre em contato com <a href=mailto:“suporte.culturaviva@cultura.gov.br”>suporte.culturaviva@cultura.gov.br</a>.</p>
                        
                        <br><br>

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{{{_footer}}}