{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>

                        <p>A organização {{organizationName}}, {{organizationCNPJ}} foi certificada como {{type}} por um Edital de Seleção da Cultura Viva. Nesse edital, você consta como responsável pela organização. Entretanto, no Cadastro Nacional de Pontos e Pontões de Cultura, encontramos outro responsável vinculado.</p>

                        <p>Se a sua organização já estava anteriormente certificada no Cadastro Nacional e o responsável mudou, por favor, faça a alteração do responsável: <a href="{{redirectUrl}}">clique aqui</a>!</p>

                        <p>Caso a organização esteja cadastrada no Mapa da Cultura por outra pessoa, ou uma inscrição tenha sido enviada por outra pessoa no Cadastro Nacional, mas o atual responsável é você, por favor, entre em contato com o nosso suporte, comprovando que é o responsável.</p>

                        <p>Envie ou encaminhe este e-mail para <a href=mailto:“suporte.culturaviva@cultura.gov.br”>suporte.culturaviva@cultura.gov.br</a>, anexando:</p>
                        
                        <ul>
                            <li>Foto do solicitante segurando documento de identidade com foto e legível, perto do rosto;</li>
                            <li>Se for entidade cultural com CNPJ, estatuto ou a ata de posse da diretoria atualizada, indicando a pessoa responsável pela organização; ou</li>
                            <li>Se for coletivo cultural sem CNPJ, Carta de indicação da representação, em que os membros do coletivo autorizam a pessoa solicitante de propriedade a representá-lo como responsável pela organização.</li>
                        </ul>

                        <p>Por enquanto, informamos que infelizmente não foi possível concluir a certificação via edital, devido à incoerência de dados da pessoa responsável pela organização.</p>

                        <br><br>

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{{{_footer}}}