{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>

                        <p>Sua organização {{organizationName}}, {{organizationCNPJ}} foi certificada como {{type}} por um Edital de Seleção da Cultura Viva.</p>

                        <p>Para manter o certificado pelo Ministério da Cultura, é necessário completar a sua inscrição no <b>Cadastro Nacional de Pontos e Pontões de Cultura, com as informações da organização que foi certificada no Edital.</b></p>

                        <p>Para completar a inscrição, <a href="{{redirectUrl}}">clique aqui</a>!</p>

                        <p>Em caso de dúvidas, entre em contato com <a href=mailto:“suporte.culturaviva@cultura.gov.br”>suporte.culturaviva@cultura.gov.br</a>.</p>
                        
                        <br><br>

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{{{_footer}}}