@font-face {
    font-family: 'Kodchasan';
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/Kodchasan-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'Kodchasan';
    font-display: swap;
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/Kodchasan-BoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Kodchasan';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Kodchasan-SemiBold.ttf') format(truetype);
}

@font-face {
    font-family: 'Kodchasan';
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/Kodchasan-SemiBoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Kodchasan';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Kodchasan-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Kodchasan';
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/Kodchasan-Italic.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/Raleway-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/Raleway-BoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Raleway-ExtraBold.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    src: url('/assets/fonts/Raleway-ExtraBoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Raleway-SemiBold.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/Raleway-SemiBoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Raleway-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/Raleway-Italic.ttf') format(truetype);
}


@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/Montserrat-Black.ttf') format(truetype);
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/Montserrat-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Garet';
    font-display: swap;
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/Garet-Heavy.ttf') format(truetype);
}

@font-face {
    font-family: 'Garet';
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/Garet-Book.ttf') format(truetype);
}