.rcv-send-question{
    display: flex;
    flex-direction: column;
    gap: size(16);
    max-width: 1170px;
    margin: 0 auto;
    border-top: var(--mc-border-hairline);
    padding: 45px 5px 100px;
    align-items: flex-start;

    &__modal-content{
        display: grid;
        gap: size(24);
    }

    &__modal{
        text-align: initial;
        
        .modal-content{
            max-width: size(690);
            width: 100%;

            .modal__action{
                & > .button{
                    min-width: size(160);
                }
            }
        }
    }

    &__button {
        width: 210px;
    }
}
